body, #root {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #FFFEDB;
}

/* FONDO */
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #FFFEDB;
}

/* FIGURAS */
.top-green {
  position: absolute;
  top: 0;
  left: 0;
  width: 45vw;
  height: 50vh;
  background: #38C958;
  clip-path: polygon(0 0, 100% 0, 70% 15%, 0 60%);
}

.top-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;
  height: 45vh;
  background: #AEE637;
  clip-path: polygon(0 0, 100% 0, 65% 12%, 0 55%);
}

.bottom-green {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45vw;
  height: 50vh;
  background: #149C68;
  clip-path: polygon(100% 100%, 0 100%, 30% 85%, 100% 40%);
}

.bottom-light {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40vw;
  height: 45vh;
  background: #AEE637;
  clip-path: polygon(100% 100%, 0 100%, 35% 88%, 100% 45%);
}

/* CONTENIDO */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 100%;
  max-width: 320px;
  text-align: center;
}

/* TITULO */
.title {
  color: #149C68;
  font-size: 22px;
  margin-bottom: 20px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LABEL */
label {
  width: 240px;
  text-align: left;
  margin-top: 10px;
  font-size: 13px;
  color: #149C68;
}

/* INPUT */
input {
  width: 240px;
  padding: 8px;
  margin-top: 5px;
  border-radius: 15px;
  border: none;
  background: #2f2f2f;
  color: white;
  font-size: 13px;
}

/* BOTON */
button {
  width: 240px;
  margin-top: 18px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background: #AEE637;
  color: #2E2E2E;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #9CD62F;
}

/* LINKS LOGIN */
.links {
  width: 240px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 8px;
}

.links span {
  cursor: pointer;
  color: #149C68;
}

/* TEXTO ABAJO */
.auth-switch {
  margin-top: 12px;
  font-size: 13px;
}

.auth-switch span {
  color: #149C68;
  cursor: pointer;
}

/* ERROR */
.error {
  color: red;
  margin-top: 10px;
}

.logo {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
}