.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #FFFEDB;
}

input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.logo {
  width: 110px;
  height: auto;
}

* {
  box-sizing: border-box;
}

body, #root {
  background: #FFFEDB !important;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #FFFEDB;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.top-green {
  position: absolute;
  top: 0;
  left: 0;
  width: 45vw;
  height: 50vh;
  background: #38C958;
  clip-path: polygon(0 0, 100% 0, 70% 15%, 0 60%);
  z-index: 1;
}

.top-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;
  height: 45vh;
  background: #AEE637;
  clip-path: polygon(0 0, 100% 0, 65% 12%, 0 55%);
  z-index: 2;
}

.bottom-green {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45vw;
  height: 50vh;
  background: #149C68;
  clip-path: polygon(100% 100%, 0 100%, 30% 85%, 100% 40%);
  z-index: 1;
}

.bottom-light {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40vw;
  height: 45vh;
  background: #AEE637;
  clip-path: polygon(100% 100%, 0 100%, 35% 88%, 100% 45%);
  z-index: 2;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  text-align: center;
  z-index: 10;
}

.logo {
  width: 110px;
}

h1 {
  color: #149C68;
  letter-spacing: 4px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

label {
  text-align: left;
  color: #149C68;
  margin-top: 12px;
}

input {
  padding: 14px;
  border-radius: 25px;
  border: none;
  background: #383939;
  margin-top: 5px;
  color: white;
}

a {
  font-size: 13px;
  color: #5DADE2;
  margin-top: 5px;
  cursor: pointer;
}

button {
  margin-top: 25px;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #AEE637 !important; /* VERDE CLARO */
  color: #2E2E2E; /* texto oscuro para que se lea bien */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
}

button:hover {
  background: #9CD62F !important;
  transform: scale(1.03);
}